.container{
    border: 1px solid black;
    margin: 50px auto;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.header{
    /* border: 1px solid #000; */
    text-align: center;
}
.form-control{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.submit{
    /* border: 1px solid #000; */
    text-align: center;
    margin: 15px;
}
.submit button{
    width: 40%;
}
