.container{
    float: left;
    height: auto;
    width: 15%;
    text-align: center;
    padding: 5px;
    background-color: royalblue;
}
.container .header h1{
    font-size: 15px;
    color: #f9f9f9;
}
hr{
    color: #f9f9f9;
}
.container .main-menu{
    height: 540px;
}
.container .main-menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
}
.container .main-menu ul li{
    /* border: 1px solid #f9f9f9;   */
    margin-bottom: 10px;
    border-radius: 2px;
}
.container .main-menu ul li:hover{
    background-color: rgba(187, 184, 181, 0.494);
}
.container .main-menu ul li svg{
   margin-right: 10px;
}
.container .main-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #f9f9f9;
    width: 100%;
}
.nav1{
    background-color: royalblue;
}
.nav1 .core{
    display: flex;
    justify-content: space-around;
    padding: 17px;
}
.nav1 .core form{
    /* border: 1px solid black; */
    width: 40%;
    padding: 3px;
}
.nav1 .core form input{
    width: 100%;
}
.nav1 .core li svg{
    color: #f9f9f9;
}
.nav1 .core li{
    list-style: none;
}





.clear::after,.clear::before{
    content: '';
    display: table;
}
.clear::after{
    clear: both;
}
.clear{
    *z-index: 1;
}