.header{
    text-align: center;
}
.container{
    border: 1px solid black;
    width: 50%;
    margin: 50px auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}
.form-control{
    padding: 5px;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container .form-control .button{
    text-align: center;
}
.container .form-control .button button{
    margin-top: 10px;
    width: 50%;
}