<form [formGroup]= "userLogin"(ngSubmit) ="onsubmit()" >
    <div class="container">
        <div class="header">
            <h1>login</h1>
        </div>
        <div class="form-control">
            <label for="username">username</label>
            <input type="text" name="username" formControlName ="username" id="username" placeholder="username" required >
            <label for="password">password</label>
            <input type="password" name="password" formControlName ="password" id="password" placeholder="password">
            <div class="button">
                <button type="submit" [disabled]="userLogin.valid == false">Login</button>
            </div>
        </div>
    </div>
</form>
{{userLogin.value | json}}
<!-- 
<h2>list admin</h2>
<ul *ngFor="let n of data">
    <div *ngIf="n.status == true">
        <li>name : {{n.name}}</li>
        <li>age : {{n.age}}</li>
        <li>major : {{n.major}}</li>
    </div>
</ul> -->
<router-outlet></router-outlet>
